body{
  background:black;
  color:green;
  font-family: monospace;
}
div#console{
  height: 90%;
  width: 100%;
  overflow: auto;
  color:green;
  font-size: 12pt;
  padding-left: 5%;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input{
  background: black;
  width: 95%;
  color: green;
  height: 10%;
  font-size: 20pt;
  font-family: monospace;
  text-transform: lowercase;
  display: inline;
  border: 0;
  overflow: hidden;
  
}
div#blinker{
  width: 5%;
  background: black;
  color: green;
  height: 10%;
  font-size: 20pt;
  font-family: monospace;
  display: inline;
}
textarea:focus, input:focus{
    outline: 0;
}
